.dub
dub.selections.json
docs.json
__dummy.html
docs/
/tfd
tfd.so
tfd.dylib
tfd.dll
tfd.a
tfd.lib
tfd-test-*
*.exe
*.o
*.obj
*.lst
generated/
tensorflow/
download/
.vscode/

*.so
*.so.*
*.pb
*.dll
*.lib
