name: linux

on: [push]

jobs:
  test:

    runs-on: ubuntu-18.04

    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        compiler: [dmd, ldc, dmd-beta, ldc-beta]

    steps:
    - uses: actions/checkout@v1

    - uses: actions/cache@v1
      with:
        path: ~/.dub
        key: ${{ runner.os }}-dub-${{ hashFiles('**/dub.json') }}
        restore-keys: |
          ${{ runner.os }}-dub-

    - name: download-tf
      run: |
        mkdir -p download
        cd download
        wget https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-1.15.0.tar.gz
        tar xvf libtensorflow-cpu-linux-x86_64-1.15.0.tar.gz

    - name: test
      run: |
        source $(curl https://dlang.org/install.sh | bash -s -- ${{ matrix.compiler }} -a)
        LIBRARY_PATH=`pwd`/download/lib
        LD_LIBRARY_PATH=`pwd`/download/lib
        dub test --parallel -b=unittest-cov

    - uses: actions/setup-python@v1
      with:
        python-version: 3.7
        architecture: 'x64'
    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-tf2.2.0
    - name: examples
      run: |
        pip install tensorflow==2.2.0
        ./run_examples.sh
        
    - name: codecov
      if: ${{ matrix.compiler == 'dmd' }}
      run: bash <(curl -s https://codecov.io/bash)
